:host {
    display: inline-block;
}

button.ava-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 18px;
    font-size: 13px;
    min-width: 150px;
    letter-spacing: 1px;
    border-radius: 10px;
    height: 36px;
    border: 1px solid rgb(207, 214, 221);
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.88);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

button.ava-btn:hover {
    background-color: #3C9F93;
    color: #ffffff;
    border-color: #3C9F93;
}

::slotted([slot="icon"]) {
    display: flex;
    align-items: center;
    justify-content: center;
}